# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio cache folder
.vs/

# Visual Studio build folders
x64/
Debug/
Release/
# Whitelist
!dep/devel/x64

# OS X temporary files
.DS_Store
*.swp
*.lock
profile

# Xcode temporary files
*~.nib

# Xcode user settings
xcuserdata/
*.xcuserstate
!default.pbxuser

# Xcode build files
DerivedData/
build/
Builds/

# Other Xcode files
*.heap
*.ipa
